[Unit]
Description=apropos_web
After=network.target

[Service]
Type=simple
User=ubuntu
Group=adm
WorkingDirectory={{ home }}/apropos_web
ExecStart={{ venv_home }}/bin/gunicorn --workers 2 --bind unix:apropos_web.sock -m 500 wsgi:app
Restart=on-failure

[Install]
WantedBy=multi-user.target

