<!DOCTYPE html>
<head>
    <title> Apropos </title>
</head>
<body>
    <div style="position:relative; height: 17em;">
        <form action="search">
            <div style="margin:0; top:50%; left:50%; margin-right:-50%; transform: translate(-50%, -50%); position:absolute;"> 
                <img src="{{ netbsd_logo_url }}" height="200" width="240">
            </div>
        </div>
    <div style="position:relative; height: 0em;">
            <div style="margin:0; top:50%; left:50%; margin-right:-50%; transform: translate(-50%, -50%); position:absolute;"> 
                <input type="search" name="q" placeholder="You query here" >
                <input type="submit" value="Search">
            </div>
        </form>
    </div>
</body>
</html>
