<!DOCTYPE html>
<head>
    <title> Apropos -- A Search Tool For Unix Man Pages </title>
    <meta name="google-site-verification" content="ETT43YHg5bN-Xn5swJ1KyBOOa0jWO1mfFXwf6YgQZUM" />
</head>
<body>
    <div style="position:relative; height: 17em;">
        <form action="search">
            <div style="margin:0; top:50%; left:50%; margin-right:-50%; transform: translate(-50%, -50%); position:absolute;"> 
                <img src="{{ netbsd_logo_url }}" height="200" width="240">
            </div>
        </div>
        <div style="position:relative; height: 5em;">
            <div style="font-family: Arial,Helvetica,sans-serif; font-size:23px; font-weight:400; margin:0; top:50%; left:50%; margin-right:-50%; transform: translate(-50%, -50%); position:absolute;">
                A Unix man page search engine
            </div>
        </div>
        <div style="position:relative; height: 2em;">
            <div style="margin:0; top:50%; left:50%; margin-right:-50%; transform: translate(-50%, -50%); position:absolute;"> 
                <input type="search" name="q" placeholder="Search" autofocus >
                <input type="submit" value="Search">
            </div>
        </form>
    </div>
    <div style="position:fixed; bottom:13px; width:100%;">
        <div style="font-family: Arial,Helvetica,sans-serif; font-size:13px; font-weight:400; margin:0; top:50%; left:50%; margin-right:-50%; transform: translate(-50%, -50%); position:absolute;">
            &copy;2016 Abhinav Upadhyay
        </div>
    </div>
</body>
</html>
